
form {
    width: 50%;
    border: solid;
    border-color: grey;
}
label {
    color:rgb(25, 13, 152);
}
#add-button {
    
    max-width: 30%;
    margin: 2rem auto;
}
#delete-button {
    float: right;
    margin-bottom: 8px;
}
label {
    height: 20px;
}
.navbar-brand {
    margin-right: 15rem;
}
form {
    width: 100%;
    height: auto;
}
