
form {
    width: 50%;
    border: solid;
    border-color: grey;
}
label {
    color:rgb(25, 13, 152);
}
#add-button {
    display: grid;
    width: 20%;
    margin: 2rem auto;
    padding: 1rem;
}
#delete-button {
    float: right;
    margin-bottom: 8px;
}
label {
    height: 20px;
}
.navbar-brand {
    margin-right: 15rem;
}
form {
    width: 100%;
    height: auto;
}
.form-group {
    margin: 1rem;
}
#taskNameErr {
    display: none;
}

#taskDescriptionErr {
    display: none;
}


#dateDisplay {
    display: grid;
    text-align: center;
    margin: 5% auto;
}


.btn {
    margin: 0.5rem;
}
.card {
    
    margin: 2%;
}
.new-class {
    width: 50%;
    float: left;
}
.form-footer {
    display: flex;
  flex-wrap: wrap;
  flex-shrink: 0;
  align-items: center;
  justify-content: flex-end;
  padding: 0.75rem;
  border-top: 1px solid #dee2e6;
  border-bottom-right-radius: calc(0.3rem - 1px);
  border-bottom-left-radius: calc(0.3rem - 1px);
}

/* #addFormButton {
    display: grid;
} */

#getTaskList-button {
    display: grid;
    width: 20%;
    margin: 2rem auto;
    padding: 1rem;
}
